---
title: "Team"
layout: default
excerpt: "RT2 Lab: Team members"
sitemap: false
permalink: /team/
---


<!-- PI -->

<h2><a id="pi"></a>PI</h2>
{% assign members = site.posts | where: 'category', 'pi' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="filter: grayscale(10%); max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            <p class="card-text">{{ member.highestedu }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<!-- Postdocs -->

<h2><a id="postdocs"></a>Postdocs</h2>
{% assign members = site.posts | where: 'category', 'postdocs' | sort: 'date' %}
{% for member in members %}
<div class="card team-member-card">
    <div class="row mt-3">
        <div class="col-md-2">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="filter: grayscale(10%); max-width: 100px;"/>
            </a>
        </div>

        <div class="col-md-10">
            <div class="card-body">
            <h4 class="card-title">{{ member.title }}</h4>
            <p class="card-text">{{ member.role }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Students -->

<h2><a id="student"></a>Students</h2>
{% assign members = site.posts | where: 'category', 'student' | sort: 'date' %}
{% for member in members %}
{% assign loopindex = forloop.index0 %}
{% if forloop.index0 modulo 2 == 0 %}
<div class="row">
{% endif %}

<div class="col-md-6">
    <div class="card team-member-card mb-4">
        <div class="row no-gutters">
            <div class="col-md-4 text-center">
                <a href="{{ member.url }}">
                    <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                         class="card-img img-responsive img-thumbnail"
                         style="filter: grayscale(10%); max-width: 100px;" />
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">{{ member.title }}</h4>
                    <p class="card-text">{{ member.role }}</p>
                    {% if member.highestedu %}
                    <p class="card-text">{{ member.highestedu }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if forloop.index0 modulo 2 == 1 or forloop.last %}
</div>
{% endif %}
{% endfor %}
